<div class="footer-container" style="display: flex; justify-content: space-between; align-items: center; padding: 10px; background: linear-gradient(90deg, #7900c3, #590090, #000000); position: sticky; bottom: 0;">
    <div class="footer-logo" style="display: flex; align-items: center;">
        <img src="images/v13_102.png" style="width: 60px; height: 58.34px;" alt="educonnects_logo">
        <span style="font-size: 24px; font-weight: bold; color: white; margin-left: 10px;">EduConnects</span>
    </div>
    <div class="social-icons" style="display: flex;">
        <a href="https://www.facebook.com/"><img src="images\v13_98.png" alt="Facebook" style="width: 40px; height: auto; margin: 0 10px;"></a>
        <a href="https://www.instagram.com/"><img src="images/v13_94.png" alt="Instagram" style="width: 40px; height: auto; margin: 0 10px;"></a>
        <a href="https://x.com/?lang=en&mx=2"><img src="images/v13_100.png" alt="Twitter" style="width: 40px; height: auto; margin: 0 10px;"></a>
        <a href="https://github.com/"><img src="images/v13_99.png" alt="GitHub" style="width: 40px; height: auto; margin: 0 10px;"></a>
    </div>
</div>
