<div class="container" style="display: flex; justify-content: space-between; align-items: center; padding: 5px; background: linear-gradient(90deg, #7900c3, #590090, #000000); position: sticky; top: 0;">
    <img src="../images/v76_32.png" alt="educonnects_logo" style="width: 60px; height: 58.34px;">
    <div class="logo" style="font-size: 24px; font-weight: bold; color: white;">EduConnects</div>
    <nav>
        <a href="/" style="margin: 0 10px; text-decoration: none; color: white; font-weight: bold;">Home</a>
        <a href="/profile" style="margin: 0 10px; text-decoration: none; color: white; font-weight: bold;">Lectures</a>
        <a href="/profile" style="margin: 0 10px; text-decoration: none; color: white; font-weight: bold;">Notes</a>
        <a href="/profile" style="margin: 0 10px; text-decoration: none; color: white; font-weight: bold;">Profile</a>
        <a href="/profile" style="margin: 0 10px; text-decoration: none; color: white; font-weight: bold;">Support</a>
    </nav>
</div>
