
        <div class="footer-container">
            <div class="footer-logo" ><img src="images/v13_102.png" style="width: 60px; height: 58.34px;" alt="educonnects_logo">EduConnects</div>
            <div class="social-icons">
                <a href="#"><img src="images/v13_98.png" alt="Facebook" style="width: 40px; height: auto;"></a>
                <a href="#"><img src="images/v13_94.png" alt="Instagram"style="width: 40px; height: auto;"></a>
                <a href="#"><img src="images/v13_100.png" alt="Twitter"style="width: 40px; height: auto;"></a>
                <a href="#"><img src="images/v13_99.png" alt="GitHub"style="width: 40px; height: auto;"></a>
            </div>
        </div>
   