<div class="container">
    <img src="../images/v76_32.png" alt="educonnects_logo" style="width: 60px; height: 58.34px;">
    <div class="logo">EduConnects</div>
    <nav>
        <a href="/">Home</a>
        <a href="/profile">Lectures</a>
        <a href="/profile">Notes</a>
        <a href="/profile">Profile</a>
        <a href="/profile">Support</a>
    </nav>
</div>